#contactForm {
    padding: .8em .5em .8em .5em;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.popup .popuptext {
    visibility: hidden;
    width: 100%;
    background-color: rgb(242, 240, 240);
    color: #fff;
    text-align: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-bottom: 3.1em;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}
@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}